.wp-block[data-align="wide"] {
  max-width: 1200px;
  width: 100%;
}
#menu-management .menu-item [data-name="link_target"] {
  position: relative;
  margin-bottom: 15px;
}
#menu-management .menu-item [data-name="link_target"] .acf-input {
  display: inline-block;
  position: absolute;
  top: 0;
  left: 0;
}
#menu-management .menu-item [data-name="link_target"] .acf-label {
  padding-left: 23px;
}
#menu-management .menu-item [data-name="link_target"] .acf-label label {
  font-style: normal;
}

[data-name="repeatable_blocks"] [data-name="content"] iframe {
  height: 200px!important;
}