@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham/Light/Gotham-Light.eot');
  src: url('assets/fonts/gotham/Light/Gotham-Light.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/gotham/Light/Gotham-Light.woff') format('woff'),
       url('assets/fonts/gotham/Light/Gotham-Light.ttf') format('truetype');
  font-weight: 300;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham/Book/Gotham-Book.eot');
  src: url('assets/fonts/gotham/Book/Gotham-Book.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/gotham/Book/Gotham-Book.woff') format('woff'),
       url('assets/fonts/gotham/Book/Gotham-Book.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham/Medium/Gotham-Medium.eot');
  src: url('assets/fonts/gotham/Medium/Gotham-Medium.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/gotham/Medium/Gotham-Medium.woff') format('woff'),
       url('assets/fonts/gotham/Medium/Gotham-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham/Bold/Gotham-Bold.eot');
  src: url('assets/fonts/gotham/Bold/Gotham-Bold.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/gotham/Bold/Gotham-Bold.woff') format('woff'),
       url('assets/fonts/gotham/Bold/Gotham-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


@font-face {
  font-family: 'Gotham';
  src: url('assets/fonts/gotham/Ultra/Gotham-Ultra.eot');
  src: url('assets/fonts/gotham/Ultra/Gotham-Ultra.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/gotham/Ultra/Gotham-Ultra.woff') format('woff'),
       url('assets/fonts/gotham/Ultra/Gotham-Ultra.ttf') format('truetype');
  font-weight: 700;
  font-style: normal;
}


@font-face {
  font-family: 'Novatica';
  src: url('assets/fonts/novatica/Novatica.eot');
  src: url('assets/fonts/novatica/Novatica.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/novatica/Novatica.woff') format('woff'),
       url('assets/fonts/novatica/Novatica.ttf') format('truetype');
  font-weight: 400;
  font-style: normal;
}

@font-face {
  font-family: 'Novatica';
  src: url('assets/fonts/novatica/Novatica-Medium.eot');
  src: url('assets/fonts/novatica/Novatica-Medium.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/novatica/Novatica-Medium.woff') format('woff'),
       url('assets/fonts/novatica/Novatica-Medium.ttf') format('truetype');
  font-weight: 500;
  font-style: normal;
}


@font-face {
  font-family: 'Novatica';
  src: url('assets/fonts/novatica/Novatica-Bold.eot');
  src: url('assets/fonts/novatica/Novatica-Bold.eot?#iefix') format('embedded-opentype'),
       url('assets/fonts/novatica/Novatica-Bold.woff') format('woff'),
       url('assets/fonts/novatica/Novatica-Bold.ttf') format('truetype');
  font-weight: 600;
  font-style: normal;
}


